<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="the_top" id="the_top">
      <h2 class="post-list-heading" id="name">Revolution<strong>Eyes</strong></h2>
      <p class="slogan" id="change">Bringing together young visually impaired people</p>
    </div>

    <main class="page-content" id="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

  {%- include footer.html -%}

</html>
